.row
  .col
    %h3 Teams
.row
  .col
    %br
.row
  %table.table
    %thead
      %th ID
      %th Name
      %th
    %tbody
      - @teams.each do |team|
        %tr
          %td= team.id
          %td= team.name
          %td= link_to "View", team_path(team), class: 'btn btn-primary btn-sm'