- content_for :js do
  %script
    window.onload = function() { startGame(#{@players_json.html_safe}) }

%style
  html {
  height: 100%;
  }


.div.container
  .row
    .col-lg-2
      %h1#team-left_field
    .col-lg-8
    .col-lg-2
      %h1#team-right_field

.field
  .canvas-target