%style
  html {
  height: 100%;
  }
  body {
  background: linear-gradient(0.25turn, #5D917D, #A9AD7F, #5D917D);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
  } 

%h3= @player.team.name

- content_for :js do
  %script
    window.onload = function() { startMoves(#{@player.moves.to_json.html_safe}) }

.canvas-target